<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/farm"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FarmFresh25">
        <activity
            android:name=".Settings.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".EditProfile.EditProfileActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Wishlist.WishlistActivity"
            android:exported="false" />
        <activity
            android:name=".crud.ProductListActivity"
            android:exported="false" />
        <activity
            android:name=".crud.AddProductActivity"
            android:exported="false"
            tools:ignore="MissingClass" /> <!-- <activity -->
        <!-- android:name=".Addproduct" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".Category"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".Seller.SellerDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".SignInActivity"
            android:exported="false" />
        <activity
            android:name=".ProductDetails"
            android:exported="false" />
        <activity
            android:name=".ForgotPassword"
            android:exported="false"
            android:label="@string/title_activity_home" />
        <activity
            android:name=".ShoppingCart.ShoppingCartActivity"
            android:exported="false" />
        <activity
            android:name=".Authentification.Register"
            android:exported="false" />
        <activity
            android:name=".Authentification.Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Seller.MainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Seller.CreateSellerActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Seller.CreateItemActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Seller.RegisterActivity2"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Seller.SellerListActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Seller.ItemListActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Seller.LoginActivity4"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Seller.Order2Activity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <!-- Forgot Password Activity - in Seller package -->
        <activity
            android:name=".Seller.ForgotPasswordActivitySeller"
            android:exported="false"
            android:label="Forgot Password"
            android:parentActivityName=".Seller.LoginActivity4" />
        <activity
            android:name=".Seller.SellerProfileActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Seller.EditProductActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>